.container.header
	.header-logo.logo
		a.logo-link(href='/')
			img.logo-img(alt='Logo'
			src='assets/img/icons/logo/logo.png')
	.header-items
		.header-item
			.header-search.search
				.search-item
					a.navbarDropdown.btn-dropdown.search-dropdownButton(
						href='#',
						role='button',
						data-toggle='dropdown',
						aria-haspopup='true',
						aria-expanded='false')
						| Browse
					.dropdown-menu(aria-labelledby='navbarDropdown')
						a.dropdown-item(href='#') Women
						.dropdown-divider(role='separator')
						a.dropdown-item(href='#') Dresses
						a.dropdown-item(href='#') Tops
						a.dropdown-item(href='#') Sweaters/Knits
						a.dropdown-item(href='#') Jackets/Coats
						a.dropdown-item(href='#') Blazers
						a.dropdown-item(href='#') Denim
						a.dropdown-item(href='#') Leggings/Pants
						a.dropdown-item(href='#') Skirts/Shorts
						a.dropdown-item(href='#') Accessories
						.dropdownMarginTop
						a.dropdown-item(href='#') Man
						.dropdown-divider(role='separator')
						a.dropdown-item(href='#') Tees/Tank tops
						a.dropdown-item(href='#') Shirts/Polos
						a.dropdown-item(href='#') Sweaters
						a.dropdown-item(href='#') Sweatshirts/Hoodies
						a.dropdown-item(href='#') Blazers
						a.dropdown-item(href='#') Jackets/vests
				.search-item
					form.search-form.form
						input.search-input.form-input(
							id='navbarDropdown',
							type='search',
							placeholder='Search for item...',
							aria-label='Search')
						button.btn.btn-outline-success.search-button.form-submit(
							type='submit')
							i.fas.fa-search.search-fa

		.header-item
			.header-basket
				#liveCart.basket
					.basket-item
						.basket-count
							span.count
						img.basket-img(
							src="assets/img/icons/basket/basket@2x.png",
							alt="Basket")
					.basket-dropdown
						#cart.basket-liveCart
						.basket-buttons
							a.basket-link(href="#") checkout
							a.basket-link(href="#") go to cart
			.header-myAcc
				#myAcc.myAcc.btn-dropdown
					| My account
					.myAcc-dropdown
						.myAcc-item
							a.myAcc-link(href="#")
								| Sign in
							a.myAcc-link(href="#")
								| Sign out
							a.myAcc-link(href="#")
								| Sign up